@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* body {
    margin-top: 30px;
    background-color:#eee;
} */

/* .container {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
} */

p {
    margin: 0px
}

.card {
    /* width: 280px; */
    /* height: 520px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 460px;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    z-index: -1;
    color:  #24416B;

    background: #e5b563;;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative;

}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card .date {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50px;
    height: 70px; */
    background-color: #e5b563;;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}

.card .date .day {
    font-size: 14px;
    font-weight: 600
}

.card .date .month,
.card .date .year {
    font-size: 10px
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    margin: 15px;
    /* padding: 5px; */
    align-items: center;
    justify-content: center;
    /* padding: 5px 10px; */
    color:  #24416B;
    background-color: #e5b563;
    border-radius: 25px;
    /* font-size: 12px; */
    font-weight: bold;
    border: none
}

.card:hover .content .btn {
    background: #fff;
    color: #e5b563;
    box-shadow: #3a3a3a1a 0px 3px 5px
}

.card .content .btn .fas {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px
}

.card .content .foot .admin {
    /* color: #e5b563; */
    color:  #24416B;
    font-size: 15px;
    font-weight: bold;
}

.card:hover .content .foot .admin {
    /* color: #fff */
    color:  #24416B;

}

.card .content .foot .icon {
    font-size: 12px
}

a{
    text-decoration: none;
  }
  .about-text,
  .about-item-text {
    color:  hsl(0, 0%, 53%);
    font-size: 1.2rem;
   
  }
  
  .about-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .about-item-icon {
    background:   #CC8C18;
    color: white;
    font-size: 26px;
    padding: 16px;
    border-radius: 50%;
    /* margin-top: 5px; */
  }
  
  .about-item-title {
    /* color: hsl(0, 0%, 40%); */
    color: #24416B;
    font-weight: 600;
    /* margin-bottom: 5px; */
  }
   
    /**
     * ABOUT
     */
  
     .about .container {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        align-items: center;
        gap: 30px;
      }
    
      /* .about-content { margin-bottom: 0; } */
  
      @media (min-width: 1200px) {
    
      .container { max-width: 1150px; }
  
    
    
      /* .about .container { grid-template-columns: 0.7fr 1fr; } */
    
    }
  
    .Bbtn{
      /* background:#CC8C18; */
       color:#24416B;
       font-weight: bold;
       padding: 10px;
       border: 2px solid #CC8C18;
       border-radius: 4px;
       position: absolute;
       align-items: center;
       text-align: center;
  
    }
  
    /* botton TOURGUIDE ----------------------------------------------------------------------------------------*/
    .button {
      --c:  #24416B; /* text color */
         background-color :  #24416B;
         color: #CC8C18;
       
      background: 
        linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
        #ffa527;
      color: #0000;
      border: none;
      transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
      text-shadow: 
        calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
        calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
      outline-offset: .1em;
      transition: 0.3s; 
    }
    .button:hover,
    .button:focus-visible {
      --_p: 0%;
      --_i: 1;
    }
    .button:active {
      text-shadow: none;
      color: var(--c);
      box-shadow: inset 0 0 9e9q #0005;
      transition: 0s;
    }
    
    /* body {
      margin: 0;
      min-height: 100vh;
      display: grid;
      place-content: center;
      background: #ccc;
    } */
    .button {
      font-family: system-ui, sans-serif;
      font-weight:bold;
      font-size: 4rem;
      /* margin: 0; */
      cursor: pointer;
      padding: .1em .3em;
    }
  
    /* bagination------------------------------------------------------------------------------ */

    .pagination-outer{ text-align: center; }
    .pagination{
        font-family: 'Itim', cursive;
        border-radius: 10px 10px 0 0;
        border-top: 10px solid  #CC8C18;
        display: inline-flex;
        width: 30%;
        align-items: center;
        margin: auto;
    }
    .pagination li{
        padding: 5px 0;
        margin: 0 5px;
    }
    .pagination li a.page-link{
        color:  #CC8C18;
        background: transparent;
        /* font-size: 21px; */
        /* font-weight: 500;
        line-height: 30px;
        height: 33px;
        width: 100px; */
        padding: 7 px;
        margin: 3px;
        /* font-weight: bold; */
        /* margin: 0; */
        border: 2px solid  #24416B;
        border-radius: 4px;
        border-radius: 0;
        display: block;
        transition: all 0.3s ease 0s;
    }
    .pagination li.active a.page-link,
    .pagination li a.page-link:hover,
    .pagination li.active a.page-link:hover,
    .pagination li a.page-link:focus{
        color: #fff;
        background:  #CC8C18;
        /* line-height: 38px;
        height: 41px; */
        /* margin: -5px 0 -3px; */
        border: 2px solid #24416B;
        padding: 13px;
        border-radius: 4px;
    }
    @media only screen and (max-width: 480px){
        .pagination{
            font-size: 0;
            display: block;
        }
        .pagination li{ display: inline-block; }
    }
  /* #team {
      background: #eee !important;
  } */
  
  .btn-primary:hover,
  .btn-primary:focus {
      background-color:#CC8C18;
      border-color:#CC8C18;
      box-shadow: none;
      outline: none;
  }
  
  .btn-primary {
      color: #fff;
      background-color:#CC8C18;
      border-color : #CC8C18;
  }
  
  section {
      padding: 60px 0;
    /* display: inline-block; */

  }
  
  section .section-title {
      text-align: center;
      color: #24416B;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .tourguideCard{
    display: block;
  }
  #team .card {
      border: none;
      background:#eee;
  }
  
  .image-flip:hover .backside,
  .image-flip.hover .backside {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      border-radius: .25rem;
  }
  
  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .mainflip {
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 1s;
      -moz-transition: 1s;
      /* -moz-transform: perspective(1000px); */
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
      position: relative;
  }
  
  .frontside {
      position: relative;
      /* -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg); */
      z-index: 2;
      margin-bottom: 30px;
  }
  
  .backside {
      position: absolute;
      top: 0;
      left: 0;
      /* background: white; */
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  
  .frontside,
  .backside {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 1s;
      -moz-transform-style: preserve-3d;
      -o-transition: 1s;
      -o-transform-style: preserve-3d;
      -ms-transition: 1s;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
  }
  
  .frontside .card,
  .backside .card {
      min-height: 312px;
  }
  
  .backside .card a {
      font-size: 18px;
      color: #CC8C18 !important;
  }
  
  .frontside .card .card-title,
  .backside .card .card-title {
      color: #CC8C18 !important;
  }
  
  .frontside .card .card-body img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }


  /* ======================================= */


  .team-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }


  .bookbtnn{
    color:#24416B;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid #CC8C18;
    border-radius: 4px;
    /* position: absolute; */
    /* align-items: center; */
    text-align: center;

  }